$color-white: #F5F5F5;
$color-black: #201E1E;
$color-grey: #494646;

$color-red: #ED254E;
$color-red-brighter: #F25C7A;
$color-red-darker: #BF0F33;

$color-orange: #F16F3E;
$color-orange-brighter: #F4916D;
$color-orange-darker: #D24410;

$color-yellow: #f5b82e;
$color-yellow-brighter: #F8CB62;
$color-yellow-darker: #D0950A;

$color-green: #06BA63;
$color-green-brighter: #19F88C;
$color-green-darker: #048D4B;

$color-cyan: #30E3CA;
$color-cyan-brighter: #64EAD8;
$color-cyan-darker: #19B6A1;

$color-blue: #2F89FC;
$color-blue-brighter: #65A6FD;
$color-blue-darker: #0362DE;